# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development
.env.production

# VS Code
.vscode/

# Logs
logs/
*.log
debug.log

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db
